<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div layout:fragment="content">

    <div class="page-title">
        <div class="title_left">
            <h3><small>Liste des types de clients</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-2 col-sm-2 pull-right">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#staticBackdrop">
                    <i class="fa fa-plus"></i> Ajout
                </button>
            </div>
        </div>
    </div>

    <!-- table -->
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Libellé type client</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="typeclient:${typeclients}">
                                    <td th:text="${typeclient.id}"></td>
                                    <td th:text="${typeclient.libbelleType}"></td>
                                    <td>
                                        <a class="btn btn-round btn-sm btn-info" th:href="@{/typeClient/FormEdit/{id}(id=${typeclient.id})}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-round btn-sm btn-danger" href="#"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End table -->
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Nouveau type de client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{typeClient/nouveau}" method="post" class="forms-sample">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Libellé type client</label>
                            <div class="col-sm-9">
                                <input type="text" name="libbelleType" class="form-control border-info">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mr-2 pull-right">Enregistrer</button>
                        <button type="button" class="btn btn-secondary pull-right" data-dismiss="modal">Fermer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->
</div>
</body>
</html>